:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #343a40;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: var(--text-color);
}

header, nav, footer {
    background-color: var(--primary-color);
    color: #fff;
}

a {
    color: var(--primary-color);
}

header {
    background-color: #f8d6d6;
    color: #0a0909;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.paper {
    margin: 20px;
    padding: 20px;
    background: linear-gradient(to right, rgba(0, 47, 75, .5) 40%, rgba(36, 92, 13, .48) 100%);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.paper h1 {
    /* margin-top: 0; */
    margin-left: 100px;
}


.link {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    letter-spacing: 1px;
    background-color: #4caf50;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 100px;
    font-size: 1.4rem;
    margin-top: 40px;
    font-family: poppins;
    font-weight: 600;
}

.link:hover {
    background-color: #131413;
    color: #ffffff;
}


.tracks h2{
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-family: poppins;
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.tracks h2:hover {
    background-color: #131413;
    color: #ffffff;
}

.tracks ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 100px;
}

.tracks ul li {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.tracks ul li:hover {
    background-color: #131413;
    color: #ffffff;
}
   

.sessions {
    display: inline-block;
    margin-left: 100px;
    margin-top: 40px;
    font-size: 1rem;
    font-family: poppins;
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}


.sessions:hover {
    background-color: #131413;
    color: #ffffff;
}